<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    Family Menu
  </title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'core/styles.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <div id="menu-container">
    <h2 id="menu-title"></h2>
    <p id="menu-description"></p>
    <p id="menu-chef"></p>
    <img src="" alt="Image Description" class="fixed-size-image">
</div>
<script type="text/javascript" src="{% static 'core/main.js' %}"></script>
</body>
</html>