.fixed-size-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  #menu-container {
    display: flex;
    flex-wrap: wrap; /* 允许元素自动换行 */
    justify-content: space-between; /* 均匀分布在水平方向 */
    align-items: flex-start; /* 控制垂直对齐方式，可以根据需要更改 */
  }
  
  .menu-item {
    flex-basis: calc(33.33% - 10px); /* 每行显示三个，可根据需要调整 */
    margin-right: 10px; /* 为了在元素之间添加间隔 */
    margin-bottom: 10px; /* 为了在行之间添加间隔 */
  }
  