/* 伪选择器，设置全局配色方案 */
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

/* 头样式 */
.nav {
  display: flex;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3rem;
  margin-bottom: 0;
}

/* 全局设置最大的宽度，超过宽度不会拉伸元素 */
/* 上下margin为0，左右margin自动适应 */
.container {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 2rem;
}

.menu-item img {
  justify-content: center;
  align-items: center;
}

.fixed-size-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card--primary {
  background-color: rgba(198, 170, 175, 0.6);
  color: rgb(57, 85, 81);
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.card__p {
  padding-left: 1rem;
}

.card__h2 {
  padding-left: 1rem;
}

.icon-left {
  width: 4rem;
  height: 4rem;
  display: inline-flex;
  margin-top: 2rem;
  padding-right: 1rem;
}

.icon-right {
  width: 4rem;
  height: 4rem;
  display: inline-flex;
  margin-top: 2rem;
  padding-left: 1rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: center; /* 水平居中对齐内容 */
}
